extends layout.pug

block title
    title TODO LIST | Main Page

block titleHeader
    h1 TODO LIST

block content
    .container-fluid
        .form-row.justify-content-center
            label.col-sm-3 Ошибочка